# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Data (no subir datasets pesados)
data/*.csv
data/raw/
*.parquet
!data/sample/

# Models (pesados)
ml/models/*.pkl
ml/models/*.joblib

# Secrets
*.env
.env
credentials.json
service-account*.json
gcp-key*.json

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
